* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Arial", san-serif;
}
a {
	color: black;
	text-decoration: none;
	font-size: 13px;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
/*==============================Nav=========================*/
nav {
	width: 100%;
	height: 50px;
	position: fixed;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 20px;
}
.nav-bar .nav-links {
	list-style: none;
	margin: 10px 10px;
	vertical-align: center;
	color: black;
	text-align: center;
	cursor: pointer;
}
.nav-bar .nav-links img {
	display: block;
}
.nav-bar .login-btn {
	border: none;
	padding: 8px 18px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	background-color: #4285f4;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}

/*============================Main============================*/
.search-container {
	position: absolute;
	width: 100%;
	height: calc(100vh - 50px);
	/*background-color: red;*/
	margin-top: 50px;
}
.search-group {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 120px;
}

.search-group .input-area {
	width: 560px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	border-radius: 24px;
	z-index: 3;
	height: 44px;
	margin: 0 auto;
	margin-top: 20px;
}
.input-area input {
	width: 85%;
	height: 40px;
	font-size: 1.1rem;
	border: none;
	outline: none;
}
.input-area:hover {
	border-color: rgba(223, 225, 229, 0);
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.img-search {
	margin-left: 15px;
}
.img-voice {
	margin-right: 15px;
}

.btn-group {
	margin-top: 25px;
}
.btn-search,
.btn-website {
	background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
	background-color: #f8f9fa;
	border: 1px solid #f8f9f9;
	border-radius: 4px;
	color: #3c4043;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}
.btn-search:hover,
.btn-website:hover,
.btn-search:focus,
.btn-website:focus {
	color: #000;
}

footer {
	background: #f2f2f2;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #dadce0;
}
footer a {
	opacity: 0.6;
}
footer a:hover {
	opacity: 0.8;
}
footer .up {
	padding: 10px 0;
	display: flex;
	align-items: center;
}
footer .down .up {
	width: 1500px;
	margin: 0 auto;
}
footer .footer-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-group .first,
.second {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 9px 0;
}
hr {
	color: #dadce0;
	opacity: 0.5;
}
.up a {
	padding-left: 18px;
}
.first li {
	margin: 0 18px;
	list-style: none;
}
.second li {
	margin: 0 18px;
	list-style: none;
}
